/github-user-search/node_modules
/comment-box/node_modules
/my-redux-example/veryEasy-react-redux/node_modules
/my-redux-example/pure-redux/node_modules
/my-redux-example/todoList-react-redux/node_modules